@model AdsListViewModel
@using System.Security.Claims
@using Microsoft.AspNetCore.Http;
    <div id="sectionForm">
        <div class="row flex-center">

            <!--Card-->
            <div>
                <div hidden id="auctionSuccess" class="alert alert-success" role="alert">
                    The auction has been successfully started
                </div>
                <!--Card image-->
                <div class="view view-cascade">
                    <img style="margin:auto; width:200px; height:250px" src="@Model.Cards.Image" class="card-img-top" />
                </div>
                <!--/.Card image-->
                <!--Card content-->

                <div class="card-body card-body-cascade text-center ">

                    <h4><strong>@Model.Cards.Name</strong></h4>
                    <h4>Retumas: @Model.Cards.Retumas</h4>
                    <p>Level: @Model.Cards.Level</p>
                    <p>Attack: @Model.Cards.Attack</p>
                    <p>Defense: @Model.Cards.Defense</p>
                    @if (!Model.ifInAuction)
                    {
                        <div class="md-form">
                            <label asp-for="Advertisements.Price" class="control-label active disabled"></label>
                            <input asp-for="Advertisements.Price" disabled class="form-control" />
                            <span asp-validation-for="Advertisements.Price" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <div class="md-form">
                            <label class="control-label active disabled">Buy now price</label>
                            <input value="@Model.Advertisements.Auction.BuyNowPrice.ToString("F")" disabled class="form-control" />
                        </div> 
                        <div class="md-form">
                            <label class="control-label active disabled">Current Price</label>
                            <input value="@Model.Advertisements.Auction.BuyNowPrice.ToString("F")" disabled class="form-control" />
                        </div>
                        <div class="mt-3">
                            <h4 id="auctionTimer"></h4>
                        </div>
                    }
                </div>


            </div>

            <!--/.Card-->

        </div>

        <div hidden id="success" class="alert alert-success" role="alert">
            Successfully updated price
        </div>
        <div class="flex-center">
            @if (Model.Advertisements.AccountId == @Context.Session.GetString("username"))
            {

                <button onclick="GetMarketPrice(@Model.Cards.Id, @Model.Advertisements.Id)" type="submit" class="btn btn-primary">Calculate market price</button>
                if (Model.ifInAuction == false)
                {
                    <button onclick="OpenAuctionForm(@Model.Advertisements.Id)" type="submit" class="btn btn-warning">Start auction</button>
                }
                else
                {
                    <button disabled type="submit" class="btn btn-cyan">Card is in auction</button>
                }
            }
            else
            {
                <a class="btn btn-success" href="/ShoppingCart/AddToCart/id?=@Model.Advertisements.Id">Add To Cart</a>
            }
        </div>

        <script>

         //   auctionCountdown()

            @*function auctionCountdown() {
                let endDate = '@Model.Advertisements.Auction.EndDate.ToString()';

                // Set the date we're counting down to
                var countDownDate = new Date(endDate).getTime();

                // Update the count down every 1 second
                var x = setInterval(function() {

                  // Get today's date and time
                  var now = new Date().getTime();

                  // Find the distance between now and the count down date
                  var distance = countDownDate - now;

                  // Time calculations for days, hours, minutes and seconds
                  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                  var seconds = Math.floor((distance % (1000 * 60)) / 1000);



                  $('#auctionTimer').text(days + "d " + hours + "h "
                                    + minutes + "m " + seconds + "s ")
                  //document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                  //+ minutes + "m " + seconds + "s ";

                  // If the count down is finished, write some text
                  if (distance < 0) {
                    clearInterval(x);
                   $('#auctionTimer').text('Auction has ended')
                  }
                }, 1000);
            }*@
        
  
</script>
