@model IEnumerable<AdsListViewModel>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="@item.Cards.Image" style="width: 72px; height: 72px;"> </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">@item.Cards.Name</a></h4>
                                        <h5 class="media-heading"><a href="#">@item.Cards.Level</a></h5>
                                        <span>Retumas: </span><span class="text-success"><strong>@item.Cards.Retumas</strong></span>
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>@item.Advertisements.Quantity</strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>$@item.Advertisements.Price</strong></td>
                            <td class="col-sm-1 col-md-1">
                                @*<button type="button" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-remove"></span> Remove
                                    </button>*@
                                <a href="#" class="btn btn-success" onclick="EditAdvertisement(@item.Advertisements.Id)">Edit</a>
                                <a class="btn btn-danger" asp-controller="Advertisement" asp-action="Delete" asp-route-id="@item.Advertisements.Id" onclick="return confirm('Are you sure you wish to delete this advertisement?');">Remove</a>
                            </td>
                        </tr>

                    }



                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Advertisement</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>

            </div>
            <div class="modal-body" id="myModalBodyDiv1">


            </div>


        </div>

    </div>

</div>
<script>
    var EditAdvertisement = function (id) {
        var url = "/Advertisement/EditAdvertisement?id=" + id;
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");
        })
    }
</script>

