@model IEnumerable<AdsListViewModel>
@using System.Security.Claims
@using Microsoft.AspNetCore.Http;


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>

                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="@item.Cards.Image" style="width: 100px; height: 140px;"> </a>
                                    <div class="media-body" style="margin:10px">
                                        <h4 class="media-heading"><a href="#">@item.Cards.Name</a></h4>
                                        <h5 class="media-heading"><a href="#">Level: @item.Cards.Level</a></h5>
                                        <span>Retumas: </span><span class="text-success"><strong>@item.Cards.Retumas</strong></span>
                                        @if (@item.Advertisements.AccountId == @Context.Session.GetString("username"))
                                        {
                                            <p>Your advertisement</p>
                                        }
                                        else  {
                                         <p> Seller: @item.Advertisements.AccountId </p>
                                        }
</div>
                                </div>
                            </td>

                            <td class="col-sm-1 col-md-1 text-center"><strong>@item.Advertisements.Quantity</strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>$@item.Advertisements.Price</strong></td>
                            <td class="col-sm-3 col-md-3">
                                @if (@item.Advertisements.AccountId == @Context.Session.GetString("username"))
                                {
                                    <a href="#" class="btn btn-info btn-sm" onclick="CardDetails(@item.Cards.Id)"><i class="fas fa-info"></i></a>
                                    <a href="#" class="btn btn-success btn-sm" onclick="EditAdvertisement(@item.Advertisements.Id)"><i class="fas fa-edit"></i></a>
                                    <a class="btn btn-danger btn-sm" asp-controller="Advertisement" asp-action="Delete" asp-route-id="@item.Advertisements.Id" onclick="return confirm('Are you sure you wish to delete this advertisement?');"><i class="fas fa-trash"></i></a>
                                }
                                else
                                {
                                    
                                    <a href="#" class="btn btn-success btn-sm" onclick="alert(addTocart)"><i class="fas fa-shopping-cart"></i></a>
                                }
                            </td>
                        </tr>

                    }



                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Advertisement</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>

            </div>
            <div class="modal-body" id="myModalBodyDiv1">


            </div>


        </div>

    </div>

</div>

<div class="modal fade" id="myModal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">Card Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>

            </div>
            <div class="modal-body" id="myModalBodyDiv2">


            </div>


        </div>

    </div>

</div>

<script>
    var EditAdvertisement = function (id) {
        var url = "/Advertisement/EditAdvertisement?id=" + id;
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");
        })
    }

    var CardDetails = function (id) {
        var url = "/Card/CardDetails?id=" + id;
        $("#myModalBodyDiv2").load(url, function () {
            $("#myModal2").modal("show");
        })
    }
</script>

