@model IEnumerable<AdsListViewModel>
@using System.Security.Claims
@using Microsoft.AspNetCore.Http;


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>

                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="@item.Cards.Image" style="width: 100px; height: 140px;"> </a>
                                    <div class="media-body" style="margin:10px">
                                        <h4 class="media-heading"><a href="#">@item.Cards.Name</a></h4>
                                        <h5 class="media-heading"><a href="#">Level: @item.Cards.Level</a></h5>
                                        <span>Retumas: </span><span class="text-success"><strong>@item.Cards.Retumas</strong></span>
                                        @if (@item.Advertisements.AccountId == @Context.Session.GetString("username"))
                                        {
                                            <p>Your advertisement</p>
                                        }
                                        else  {
                                         <p> Seller: @item.Advertisements.AccountId </p>
                                        }
</div>
                                </div>
                            </td>

                            <td class="col-sm-1 col-md-1 text-center"><strong>@item.Advertisements.Quantity</strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>$@item.Advertisements.Price</strong></td>
                            <td class="col-sm-3 col-md-3">

                                <a href="#" class="btn btn-info btn-sm" id="cardDetails_@item.Advertisements.Id" onclick="CardDetails(@item.Advertisements.Id)"><i class="fas fa-info"></i></a>
                                @if (@item.Advertisements.AccountId == @Context.Session.GetString("username"))
                                {
                                    <a href="#" class="btn btn-success btn-sm" onclick="EditAdvertisement(@item.Advertisements.Id)"><i class="fas fa-edit"></i></a>
                                    <a class="btn btn-danger btn-sm" asp-controller="Advertisement" asp-action="Delete" asp-route-id="@item.Advertisements.Id" onclick="return confirm('Are you sure you wish to delete this advertisement?');"><i class="fas fa-trash"></i></a>
                                }
                                @*else
                                {

                                    <a href="#" class="btn btn-success btn-sm" onclick="addTocart()"><i class="fas fa-shopping-cart"></i></a>
                                }*@
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Advertisement</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="myModalBodyDiv1">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">Card Details</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>

            </div>
            <div class="modal-body" id="myModalBodyDiv2">


            </div>


        </div>

    </div>
</div>

<div class="modal fade" id="myModal3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">Market Price</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>

            </div>
            <div class="modal-body" id="myModalBodyDiv3">
                <div id="marketPriceText">

                </div>
                <button onclick="approvePrice()" id="marketPriceApprove" type="button" class="btn btn-success">Approve price</button>
                <button onclick="cancelPrice()" type="button" class="btn btn-warning">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="auctionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Create auction</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="auctionModalBody">
                <div id="createAuctionError1" hidden class="alert alert-danger" role="alert">
                    Wrong data!
                </div>
                <div id="createAuctionError2" hidden class="alert alert-danger" role="alert">
                    End date cannot be in the past!
                </div>
                <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Starting Price</span>
                    </div>
                    <input id="startingPrice" type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-1 mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Buy now price</span>
                    </div>
                    <input id="buyNow" type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-1 mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">End date</span>
                    </div>
                    <input id="endDate" type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-1 mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">End time</span>
                    </div>
                    <input id="endTime" type="time" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="15:00">
                </div>
                <div class="d-flex justify-content-center">
                    <button onclick="SubmitCreateAction()" type="button" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="auctionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Create auction</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="auctionModalBody">
                <div id="createAuctionError1" hidden class="alert alert-danger" role="alert">
                    Wrong data!
                </div>
                <div id="createAuctionError2" hidden class="alert alert-danger" role="alert">
                    End date cannot be in the past!
                </div>
                <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Starting Price</span>
                    </div>
                    <input id="startingPrice" type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-1 mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Buy now price</span>
                    </div>
                    <input id="buyNow" type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-1 mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">End date</span>
                    </div>
                    <input id="endDate" type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-1 mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">End time</span>
                    </div>
                    <input id="endTime" type="time" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="15:00">
                </div>
                <div class="d-flex justify-content-center">
                    <button onclick="SubmitAuctionCreation()" type="button" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var addTocart = function () {
        alert("added to cart");
    }


    var EditAdvertisement = function (id) {
        var url = "/Advertisement/EditAdvertisement?id=" + id;
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");
        })
    }

    var CardDetails = function (id) {
        var url = "/Advertisement/AdvertisementDetails?id=" + id;
        $("#myModalBodyDiv2").load(url, function () {
            $("#myModal2").modal("show");
            if (approved) {
                $("#success").removeAttr('hidden')
                approved = false
            }
            if (auctionCreated) {
                $("#auctionSuccess").removeAttr('hidden')
                auctionCreated = false;
            } if (betHasBeenMade) {
                $("#betSuccess").removeAttr('hidden')
                betHasBeenMade = false;
            }
        })
    }

    var xmlhttp;
    let marketPrice;
    let adId;
    let approved = false
    let auctionCreated = false
    let betHasBeenMade = false

    if (window.ActiveXObject) {
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    } else {
        xmlhttp = new XMLHttpRequest();
    }

    var GetMarketPrice = function (cardId, adverId) {
        xmlhttp.open("GET", "/Advertisement/GetMarketPrice?cardId=" + cardId, true);
        xmlhttp.send();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var price = Number(xmlhttp.response).toFixed(2)
                if (!isNaN(price)) {
                    $("#marketPriceText").text("Market price for this card is: " + price + "€")
                    marketPrice = price
                    adId = adverId
                } else {
                    $("#marketPriceText").text("Market price was not found.")
                    $("#marketPriceApprove").hide(true)
                }
                $("#myModal2").modal("hide");
                $("#myModal3").modal("show");
            }
        }

    }

    var approvePrice = function () {
        xmlhttp.open("POST", "/Advertisement/ApproveMarketPrice?price=" + marketPrice + "&advertisement=" + adId, true);
        xmlhttp.send();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                $("#myModal3").modal("hide");
                $("#success").removeAttr('hidden')
                approved = true
                $("#cardDetails_" + adId)[0].click()
            }
        }
    }

    var cancelPrice = function () {
         $("#myModal3").modal("hide");
         $("#myModal2").modal("show");
    }


    var OpenAuctionForm = function (ad) {
        adId = ad
        $("#myModal2").modal("hide");
        $('#auctionModal').on('hidden.bs.modal', function () {
            $('#startingPrice').val('')
            $('#buyNow').val('')
            $('#endDate').val(new Date().toISOString().slice(0, 10))
            $('#endTime').val('15:00')
            $('#createAuctionError1').attr("hidden", true);
            $('#createAuctionError2').attr("hidden", true);
            $("#myModal2").modal("show");
        });
        $('#endDate').val(new Date().toISOString().slice(0, 10))
        $("#auctionModal").modal("show");
    }

    var SubmitCreateAction = function () {

        $('#createAuctionError1').attr("hidden", true);
        $('#createAuctionError2').attr("hidden", true);

        if (!validateAuctionInput()) {
            $('#createAuctionError1').attr("hidden", false);
            return;
        }

        if (checkIfPast()) {
            $('#createAuctionError2').attr("hidden", false);
            return;
        }

        var xhr ;
        if (window.ActiveXObject) {
            xhr = new ActiveXObject("Microsoft.XMLHTTP");
        } else {
            xhr = new XMLHttpRequest();
        }
        var endDate = $('#endDate').val() + " " + $('#endTime').val()
        xhr.open("POST", "/Auction/SubmitCreateAction", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(
            JSON.stringify({
                "StartingPrice": $('#startingPrice').val(),
                "BuyNowPrice": $('#buyNow').val(),
                "EndDate": endDate,
                "AdvertisementId": adId
                                }));
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                auctionCreated = true;
                $("#auctionModal").modal("hide");
                $("#cardDetails_" + adId)[0].click()
            }
        }

    }

    function validateAuctionInput() {
        let startingPrice = $('#startingPrice').val()
        let buyNowPrice = $('#buyNow').val()
        let endDate = $('#endDate').val()
        let endTime = $('#endTime').val()

        let PriceRegex = /[1-9]\d*(?:\.\d{0,2})?/
        let timeRegex = /^([01]?[0-9]|2[0-3]):[0-5][0-9]$/

        if (!PriceRegex.test(startingPrice.toString()))
            return false

        if (!PriceRegex.test(buyNowPrice.toString()))
            return false

        if(!(isNaN(endDate) && !isNaN(Date.parse(endDate))))
            return false;

        if (!timeRegex.test(endTime))
            return false

        return true;
    }

    function checkIfPast() {
        let endDate = $('#endDate').val()
        let endTime = $('#endTime').val()

        let date = endDate + " " + endTime;

        if (Date.parse(date) - Date.parse(new Date()) < 0) {
            return true
        }

        return false;
    }

    function placeBet(auctionId, advertismentId) {
        $("#betSuccess").attr('hidden', true)
        let betValue = $('#betValue').val().replace(',', '.')
        xmlhttp.open("POST", "/Advertisement/PlaceBet?newPrice=" + betValue + '&auctionId=' + auctionId, true);
        xmlhttp.send();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4) {
                if (xmlhttp.response == "Bet error") {
                    $('#betError').text('Bet error, make sure bet is higher than current price!')
                    $('#betError').attr("hidden", false);
                }if (xmlhttp.response == "Auction has ended") {
                    $('#betError').text('Auction has ended!')
                    $('#betError').attr("hidden", false);
                } if (xmlhttp.status == 200) {
                    betHasBeenMade = true;
                    $("#cardDetails_" + advertismentId)[0].click()

                }
            }
        }
    }
</script>

