@model Card
    <div id="sectionForm">

        <div class="row flex-center">


            <!--Card-->
            <div>

                <!--Card image-->
                <div class="view view-cascade">
                    <img style="margin:auto; width:200px; height:250px" src="@Model.Image" class="card-img-top" />
                </div>
                <!--/.Card image-->
                <!--Card content-->

                <div class="card-body card-body-cascade text-center ">

                    <h4><strong>@Model.Name</strong></h4>
                    <h4>Retumas: @Model.Retumas</h4>
                    <p>Level: @Model.Level</p>
                    <p>Attack: @Model.Attack</p>
                    <p>Defense: @Model.Defense</p>

                </div>

            
            </div>

            <!--/.Card-->

        </div>
        <div class="flex-center">
            <button type="submit" class="btn btn-primary">Calculate market price</button>
        </div>
    </div>



